In [2]:
import pandas as pd
s_temp = pd.Series(["japan,china","china","america","america,canada,korea"])
s_temp

0             japan,china
1                   china
2                 america
3    america,canada,korea
dtype: object

In [3]:
s_temp.str.split(',',expand=True)

         0       1      2
0    japan   china   None
1    china    None   None
2  america    None   None
3  america  canada  korea

In [4]:
pd.get_dummies(s_temp.str.split(',',expand=True).stack())

     america  canada  china  japan  korea
0 0        0       0      0      1      0
  1        0       0      1      0      0
1 0        0       0      1      0      0
2 0        1       0      0      0      0
3 0        1       0      0      0      0
  1        0       1      0      0      0
  2        0       0      0      0      1

In [6]:
pd.get_dummies(s_temp.str.split(',',expand=True).stack()).groupby(level=0)

In [5]:
pd.get_dummies(s_temp.str.split(',',expand=True).stack()).groupby(level=0).sum()

   america  canada  china  japan  korea
0        0       0      1      1      0
1        0       0      1      0      0
2        1       0      0      0      0
3        1       1      0      0      1